* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.messages {
    list-style: none;
}

.msg-form {
    display: flex;
    gap: 0.5rem;
    width: 300px;
}


.msg-form input {
    width: 100%;
    outline: none;
    background: black;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
}

.msg-form p {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}


.msg-form button {
    width: 100px;
    background: green;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
}
